MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=to-teacher-identity
SERVER_PORT=8081
SWAGGER_ENABLED=true
PRIVACY_CONSENT_VERSION=privacy-v1
TERM_CONSENT_VERSION=term-v1
REFRESH_TOKEN_TTL=P14D
REFRESH_TOKEN_RANDOM_BYTES=32
JWT_ISSUER=http://localhost:8081
JWT_AUDIENCE=tosunsaeng-learning-core
JWT_KEY_ID=tosunsaeng-identity-rsa-1
JWT_ACCESS_TOKEN_TTL=PT30M
JWT_PRIVATE_KEY_LOCATION=file:.local/keys/private.pem
JWT_PUBLIC_KEY_LOCATION=file:.local/keys/public.pem
